<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Auguste Rame</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body class="preload">

<nav class="nav">
    <h1 class="nav__brand"><a href="/">Auguste Rame</a></h1>

    <div class="nav__borgor print_hide">
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav>

<div class="nav--slideout print_hide">
    <a href="/"><span>Home</span></a>
    <a href="/resume/"><span>Resume</span></a>
</div>
