p, li {
    font-size: 1em;
    font-family: "Inter";
    line-height: 120%;
    letter-spacing: -0.011em;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sofia Sans";
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

h4 {
    font-size: 1.25em;
    font-weight: 600;
}

a {
    color: var(--highlight);
}

i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

.card_list {
    display: grid;

    gap: 0.75rem;
    grid-template-columns: repeat( auto-fill, minmax(18rem, 1fr) );
}

.card {
    border: 3px solid var(--foreground);
    border-radius: 10px;

    padding: 1.15rem;

    color: var(--foreground);
    text-decoration: none;

    cursor: pointer;
    transition: 0.2s background-color, 0.2s border-color;
    background-color: var(--background-sub);

    &:hover {
        background-color: var(--background-sub-2);
    }

    &--highlighted {
        color: var(--background);
        border-color: var(--highlight);
        background-color: var(--highlight);

        &:hover {
            border-color: var(--highlight-sub-2);
            background-color: var(--highlight-sub-2);
        }
    }

    &__title {
        font-size: 1.25em;
        font-weight: 700;
    }
}

.arrow_end {
    &::after {
        margin-left: 0.9rem;

        content: '🡒';
        font-size: 1em;
        font-weight: 700;
        font-family: "Inter";
    }
}
