@mixin light {
    color-scheme: light;

    --foreground: hsl(0, 0%, 10%);
    --background: hsl(0, 0%, 90%);
    --highlight: hsl(160, 90%, 25%);

    --foreground-sub: hsl(0, 0%, 20%);
    --foreground-sub-2: hsl(0, 0%, 60%);

    --background-sub: hsl(0, 0%, 85%);
    --background-sub-2: hsl(0, 0%, 80%);

    --highlight-sub: hsl(160, 90%, 50%);
}

@mixin dark {
    color-scheme: dark;

    --foreground: hsl(0, 0%, 90%);
    --background: hsl(0, 0%, 10%);
    --highlight: hsl(160, 50%, 50%);

    --foreground-sub: hsl(0, 0%, 80%);
    --foreground-sub-2: hsl(0, 0%, 40%);

    --background-sub: hsl(0, 0%, 15%);
    --background-sub-2: hsl(0, 0%, 20%);

    --highlight-sub: hsl(160, 50%, 30%);
}

@media (prefers-color-scheme: light) { :root { @include light; } }
@media (prefers-color-scheme: dark) { :root { @include dark; } }

.theme_override_light { @include light; }
.theme_override_dark { @include dark; }

@page {
    margin: 0;

    margin-top: 40px;
    margin-bottom: 40px;
}

@media print {
    :root {
        @include light;
        --background: white;

        .print_hide {
            display: none;
        }
    }

    #theme_switcher {
        display: none;
    }
}
