@use "theme";
@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

:root {
    color-scheme: dark;
}

html,
body {
    margin: 0;
    padding: 0;

    background-color: black;
}

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    margin: 0;

    font-size: 4em;
    font-family: "Bebas Neue";
}

h2 {
    margin: 0;

    font-size: 2em;
    font-weight: 800;
}

h3 {
    margin: 0;

    font-size: 1.5em;
    font-weight: 800;
}

ul {
    margin: 0;
    padding: 1em;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    line-height: 1.5;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;

    font-size: 1em;
    line-height: 1.5;
}

a {
    color: theme.$yellow;
    text-decoration-style: wavy;
}

.bisect {
    display: flex;

    & > * {
        width: 50%;

        text-align: justify;
    }

    img {
        display: block;

        margin-left: auto;
        margin-bottom: 4rem;

        width: calc(100% - 4rem);
    }
}
