<%- await include("partials/header.ejs", { title: "Home" }) %>

<main class="main main--404">
    <div class="main--404__hero">
        <h2>404</h2>
        <a href="/">Home</a>
    </div>
</main>

<%- await include("partials/footer.ejs") %>
