<%- await include("partials/header.ejs", { title: "Home" }) %>

<main class="main">
    <div class="main__intro_hero">
        <h1>TODO: put things here!</h1>
    </div>
</main>

<%- await include("partials/footer.ejs") %>
