<%- await include("partials/header.ejs", { title: "Home" }) %>

<main class="main main--home">
    <div class="main--home__hero">
        <h2><i>Vision-driven</i> enough to publish an unfinished website</h2>
        <a href="/resume">I have a resume though</a>
    </div>
</main>

<%- await include("partials/footer.ejs") %>
