<%- include("partials/header.ejs") %>

<main class="main main--resume">
    <div class="main--resume__split_hero">
        <div>
            <h3>About Me</h3>
            <p>
                I'm a French-and-English-speaking globe-trotting programmer with over 8 years of programming experience.
                I love taking on novel challenges in unique and technically fulfilling ways.
            </p>
        </div>

        <div>
            <h3>Skills</h3>
            <p>
                Fluent in Java, HTML/CSS, JavaScript (Frontend and Node), Python, and <a href="https://ziglang.org">Zig</a>. Knowledgeable in C#, Golang, and PowerShell.
            </p>
        </div>
    </div>

    <div class="main--resume__experience">
        <h3>Experience</h3>

        <ul class="main--resume__experience__list">
            <li>
                <header>
                    <h4>Creating, Expanding, Maintaining <a href="https://github.com/zigtools">Zig Language Server</a></h4>
                    <div><div></div></div>
                    <time>Apr. 2020 -</time>
                </header>

                <ul>
                    <li>Creating intellisense tooling that helps thousands of Zig developers ameliorate their workflows.</li>
                    <li>Working hand-in-hand with team of contributors and other maintainers.</li>
                    <li>Developing comprehensive fuzzing solution to ensure seamless user experience.</li>
                </ul>
            </li>
            <li>
                <header>
                    <h4>Designing, Developing <a href="https://softwareyoucanlove.ca/">Zig Conference Website</a></h4>
                    <div><div></div></div>
                    <time>Dec. 2022 -</time>
                </header>

                <ul>
                    <li>Working with Vancouver stakeholders to produce high-quality designs remotely from Montréal.</li>
                    <li>Adapting designs to an existing Go-based internal solution.</li>
                    <li>Ensuring full functionality and accessibility.</li>
                </ul>
            </li>
            <li>
                <header>
                    <h4>Created <a href="https://github.com/zigtools/scip-zig">Zig Indexer</a> for <a href="https://sourcegraph.com/">Sourcegraph</a> (Freelance)</h4>
                    <div><div></div></div>
                    <time>Oct. 2022 - Jan. 2023</time>
                </header>

                <ul>
                    <li>Adapted Zig Language Server code to statically index Zig code.</li>
                    <li>Tested solution on Sourcegraph servers.</li>
                    <li>Worked with stakeholders to ensure timely delivery, even as a full-time student in Montréal.</li>
                </ul>
            </li>
            <li>
                <header>
                    <h4>Directed <a href="https://snitchbcc.com/">The Snitch</a> Satirical News Website</h4>
                    <div><div></div></div>
                    <time>Oct. 2019 - Jun. 2022</time>
                </header>

                <ul>
                    <li>Wrote, edited, and webmastered for a school satirical journal that I co-founded in Bethesda, Maryland.</li>
                    <li>Worked with large writing and editing team to keep output continuous and high-quality.</li>
                    <li>Designed the website and implemented it with a Node backend.</li>
                </ul>
            </li>
            <li>
                <header>
                    <h4>Taught at Non-Profit <a href="https://coderdojodc.com/">CoderDojo DC</a></h4>
                    <div><div></div></div>
                    <time>2019 - 2020</time>
                </header>

                <ul>
                    <li>Taught 6 - 17 year olds Scratch, Python, and HTML / CSS / JavaScript in Rockville, Maryland.</li>
                    <li>Helped people with no access to computers at home acquire computer literacy skills.</li>
                    <li>Configured Rockville Memorial Library Science Center space to optimize teaching.</li>
                </ul>
            </li>
            <li>
                <header>
                    <h4>Taught at <a href="https://geekexpress.com/">GeekExpress</a></h4>
                    <div><div></div></div>
                    <time>2017 - 2019</time>
                </header>

                <ul>
                    <li>Taught 5 - 14 year olds twice a week in Beirut throughout the year and full-time in July 2018.</li>
                    <li>Developed curriculums around app, web, and XR development.</li>
                    <li>Helped expand company to local schools.</li>
                </ul>
            </li>
            <li>
                <header>
                    <h4>Implemented Cryptography Backend at CryptoPHI</h4>
                    <div><div></div></div>
                    <time>2018 - 2019</time>
                </header>

                <ul>
                    <li>Worked in Beirut once a week throughout the year, full-time in June 2018 on backend code and infrastructure.</li>
                    <li>Collaborated with cryptography PhD on secure storage implementation.</li>
                    <li>Translated PHP components of the old backend into Node.</li>
                </ul>
            </li>
            <li>
                <header>
                    <h4>Prototyped Hardware at Innovo</h4>
                    <div><div></div></div>
                    <time>Apr. 2018</time>
                </header>

                <ul>
                    <li>Created a circuit prototype with minimal guidance in Beirut.</li>
                    <li>Transformed the prototype into a PCB using EAGLE, a CNC machine, and a healthy dose of soldering.</li>
                    <li>Thoroughly tested PCB to ensure full functionality was delivered.</li>
                </ul>
            </li>
        </ul>
    </div>
</main>

<%- include("partials/footer.ejs") %>
